.nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #070F2B;
    box-shadow: 2px 2px 20px 2px black;
    width: 100%;
    height: 5rem;
    top: 0;
    z-index: 1;
    overflow: hidden;
    justify-content: space-between;
    position: sticky;

  }
  
  .logo {
    width: 20% !important;
    height: 100%;
    display: -ms-grid;
    display: grid;
    margin: 0;
    padding:0;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size:clamp(2rem,4vw,3.5rem);
    font-weight: 700;
    place-items:center;
    cursor: pointer;
    overflow-y: hidden;
    -webkit-animation: riseup .5s ease-in 1;
            animation: riseup .5s ease-in 1;
  }
  
  
  .nav-menu {
    display: none;
    height: 100%;
    width: 50%;
    font-size: 1.2rem;
  }
  
  .nav-item-list {
    min-width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 8%;
  }
  
  .nav-item-list>li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    margin: 0 2%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.849);
    cursor: pointer;
    text-align: center;
    overflow-y: hidden;
    -webkit-animation: riseup 1s ease-in 1;
            animation: riseup 1s ease-in 1;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }
  
  .nav-item-list>li:hover {
    -webkit-text-stroke-width: 2px;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    color: white;
    border-bottom: 2px solid white;
  }
  
  @-webkit-keyframes riseup {
  
    0% {
      bottom: -100%;
    }
  
    100% {
      bottom: 0%;
    }
  
  }
  
  @keyframes riseup {
  
    0% {
      bottom: -100%;
    }
  
    100% {
      bottom: 0%;
    }
  
  }
  
  @media screen and (max-width:800px) {
    .nav {
      display: block;
      overflow: unset;
      -webkit-box-sizing: unset;
              box-sizing: unset;
    }
  
    .logo {
      width: 50% !important;
      height: inherit;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding-left: 4%;
    }
  
    .nav-menu {
      display: -ms-grid;
      display: grid;
      place-content: center;
      width: 20%;
      float: right;
      font-size: 2rem;
      color: white;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
    }
  
    .nav-item-list {
      margin: 0;
      padding: 0;
      width: 100%;
      height: calc(100vh - 5rem );
      display: block;
      -webkit-backdrop-filter: blur(15px);
              backdrop-filter: blur(15px);
      background-color: #070F2B;
      position: relative;
      left: -100%;
      -webkit-transition: left 1s ;
      -o-transition: left 1s ;
      transition: left 1s ;
    }
    .nav-item-list>li {
      width: 96%;
      position: relative;
      height: 15%;
      margin: 0;
      display: -ms-grid;
      display: grid;
      place-content: center;
      font-size: 1.2rem;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.849);
      cursor: pointer;
      text-align: center;
      overflow-y: hidden;
      -webkit-animation: riseup 1s ease-in 1;
              animation: riseup 1s ease-in 1;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
    }
    .close-menu{
        display: none;
    }
    .active .nav-item-list{
      left: 0%;
    }
    .active .open-menu{
      display: none;
    }
    .active .close-menu{
      display: block;
    }
  
  }